<html>
    <head>
        <title>Ethranwar's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ethranwar's Blog</a></h1>
        </div>

        <div>
            <p>published: 28/10/2018, 12:23</p>
            <h2><a href="">My first post</a></h2>
            <p>First post </p>
        </div>

        <div>
            <p>published: 28/10/2018, 12:23</p>
            <h2><a href="">My second post</a></h2>
            <p>2nd post</p>
        </div>
    </body>
</html>
